{% extends "base.html" %}
{% block page_title %}About Erinc{% endblock page_title %}

{% block content %}
<div class="twelve columns">
    <h2>About me</h2>
    <p>
        Hey, thanks for visiting my site. I’m Erinç (pronunciated erinch). 
    </p>
    <ul>
        <li>Early thirties, currently living in Vancouver, BC (will change soon).</li>
        <li>Have a degree in Computer Science and Economics from <strong><a href="http://uvic.ca">University of Victoria</a></strong>.</li>
        <li>Combining engineering, business and art is my biggest passion.</li>
        <li>Building web products since late 90s. I like building and <strong><a href="/products/">shipping things.</a></strong></li>
        <li>Fascinated with minimalism. Everything I own fits in one luggage.</li>
        <li>Outside of work, I enjoy traveling the world at every opportunity.</li>
        <li>Learn more about my professional experience on <strong><a href="https://www.linkedin.com/in/erincm">LinkedIn</a></strong>.</li>
        <li>Please email me at <strong><a href="mailto:erinc@erinc.ca">erinc@erinc.ca</a></strong> 
            or connect at <strong><a href="https://facebook.com/erinc">Facebook</a></strong> for any reason. </li>
    </ul>

</div>

{% endblock %}