{% extends "base.html" %}
{% block content %}
    <div class="twelve columns stats">
      <p>
        <img src="https://i.imgsafe.org/c8a5e41.png" class="icon">
        Walked <span id="steps"><img class="loading" src="https://i.imgsafe.org/603696c.gif"></span> steps today. <span id="steps_avg"><img class="loading" src="https://i.imgsafe.org/603696c.gif"></span> is my  average for the week.
      </p>

      <p>
        <img src="https://i.imgsafe.org/e2dd652.png" class="icon">
        Slept <span id="sleep"><img class="loading" src="https://i.imgsafe.org/603696c.gif"></span> last night.
      </p>

      <p>
        <img src="https://i.imgsafe.org/197557f.png" class="icon">
        Read <span id="pocket_read"><img class="loading" src="https://i.imgsafe.org/603696c.gif"></span> articles in last 24 hours.
        <span id="pocket_unread"><img class="loading" src="https://i.imgsafe.org/603696c.gif"></span> more in my reading list.
      </p>

      <p>
        <img src="https://i.imgsafe.org/bd6bc5c.png" class="icon">
        Currently reading <strong id="book"><img class="loading" src="https://i.imgsafe.org/603696c.gif"></strong>.
      </p>

      <p>
        <img src="https://i.imgsafe.org/be521c1.png" class="icon">
        Latest song I liked is <strong id="song"><img class="loading" src="https://i.imgsafe.org/603696c.gif"></strong>.
      </p>

    </div>

    <div class="twelve columns">
      <ul class="blog_posts">
        {% include '_posts.txt' %}
      </ul>
    </div>
{% endblock content %}