<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Erinc</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <style type="text/css">
    .container {
      max-width: 800px; 
      margin-top: 120px;
    }
    .blog_posts {
      list-style: none;
    }
    .blog_posts li a {
      color: #000;
      text-decoration: none;
    }
    .blog_posts li a:hover {
      text-decoration: underline;
    }
  </style>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <link rel="icon" type="image/png" href="">

</head>
<body>

<!-- .container is main centered wrapper -->
<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="twelve columns"><h4>Erinc Mullaoglu</h4></div>
  </div>

  <!-- just use a number and class 'column' or 'columns' -->
  <div class="row">
    <div class="six columns">
      <ul class="blog_posts">
        <li><a href="">What I will read in 2016</a></li>
        <li><a href="">Becoming minimalist</a></li>
        <li><a href="">Why not use this tech</a></li>
      </ul>
    </div>
    <div class="six columns">
      <img src="https://cdn0.iconfinder.com/data/icons/iconsweets2/40/foot_steps_feet.png" width="24px" style="float: left; margin: -1px 5px 0 0;">
      Walked <strong>2424</strong> steps today.
      <br/>
      <img src="https://cdn2.iconfinder.com/data/icons/rental-icon/240/bed-48.png" width="24px" style="float: left; margin: -3px 5px 0 0;">
      Slept <strong>6.4</strong> hours last night.
    </div>

  </div>

</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>