{% extends "base.html" %}
{% block page_title %}Gigster application{% endblock page_title %}


{% block favicon %}https://s3.amazonaws.com/prod-uploads-cloudpeeps/companies/logos/000/000/590/medium/gigster-logo.png?1443666219{% endblock favicon %}
{% block header %}{% endblock header %}
{% block firebase %}{% endblock firebase %}


{% block content %}
<script src="https://magpie.io/static/js/widget.js" async="async"></script>
<div id="cd_widget" data-companykey="lb0kdgrqce" async="async"></div>
<div class="twelve columns">
   
</div>
{% endblock %}