{% extends "base.html" %}
{% block page_title %}Magpie test{% endblock page_title %}


{% block favicon %}{% endblock favicon %}
{% block header %}{% endblock header %}
{% block firebase %}{% endblock firebase %}


{% block add_css %}
    body { 
        background: #000;
    }

    iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
{% endblock %}


{% block main_container %}

  
<iframe src="https://docs.google.com/presentation/d/1o-D1FW0THNpaj7ooUqR7CGf6gamk-FV4cXWRLVanp5Q/embed?start=false&loop=false&delayms=60000" frameborder="0" width="100%" height="700px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
{% endblock %}