{% extends "base.html" %}

{% block content %}
<div class="twelve columns">
    <h2>Products I've worked on</h2>

    <div class="product">
        <strong>Wantoo</strong><br/>
        <em>Chief Technology Officer</em>
    </div>

    <div class="product">
        <strong>Hootsuite Suggestions</strong><br/>
        <em>Engineering Lead</em>
    </div>

    <div class="product">
        <strong>Hootsuite Amplify</strong><br/>
        <em>Engineering Lead / Technical Product Manager</em>
    </div>


    <div class="product">
        <strong>Plansify</strong><br/>
        <em>Co-founder</em>
    </div>
</div>
{% endblock %}