{% extends "base.html" %}
{% block page_title %}Products by Erinc{% endblock page_title %}

{% block content %}
<div class="twelve columns">
    <h2>Products I've created & worked on</h2>

    <div class="row">
        <div class="product six columns" onclick="window.open('https://wantoo.io/', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/f6106b6.jpg" >
            <h4>Wantoo</h4>
            <em>Chief Technology Officer</em>
            <p>
                <span>Founding team</span> <span>500K funding</span> <span>SaaS</span>
            </p>            
        </div>

        <div class="product six columns" onclick="window.open('https://hootsuite.com/products/mobile-apps/suggestions', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/2c514b3.png" >
            <h4>Hootsuite Suggestions</h4>
            <em>Engineering Lead</em>
            <p>
                <span>Hiring manager</span> <span>Mobile & Web</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="product six columns" onclick="window.open('https://hootsuite.com/products/amplify', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/6e4949e.png" >
            <h4>Hootsuite Amplify</h4>
            <em>Technical Product Manager</em>
            <p>
                <span>Multiple Fortune 500 customers</span> <span>Mobile & Web</span>
            </p>            
        </div>
        <div class="product six columns" onclick="window.open('http://plansify.com', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/71206cc.png" >
            <h4>Plansify</h4>
            <em>Co-founder</em>
            <p>
                <span>Side project</span> <span>Travel advice marketplace</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="product six columns" onclick="window.open('https://magpie.io', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/1eb6b59.jpg" >
            <h4>Magpie</h4>
            <em>Co-founder</em>
            <p>
                <span>Side project</span> <span>Marketing automation</span> <span>SaaS</span>
            </p>
        </div>

        <div class="product six columns" onclick="window.open('https://stock.cafe', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/ce51190.jpg" >
            <h4>Stock.cafe</h4>
            <em>Founder</em>
            <p>
                <span>Side project</span> <span>Finance</span> <span>SMS</span>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="product six columns" onclick="window.open('https://ca.finance.yahoo.com/news/globalwide-media-inc-completes-40-211900104.html', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/25799a6.png" >
            <h4>Neverblue</h4>
            <em>Software Engineer</em> 
            <p>
                <span>Advertising network</span> <span>Analytics</span> <span>Acquired in '12</span>
            </p>
        </div>

        <div class="product six columns" onclick="window.open('http://www.partnershipagainstcancer.ca/', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/2b4d939.png" >
            <h4>CAPTURE</h4>
            <em>Technical Lead</em>
            <p>
                <span>4M funding</span> <span>Public health</span> <span>SaaS</span> <span>Ended in '11</span>
            </p>
        </div>
    </div>

</div>

{% endblock %}