{% extends "base.html" %}
{% block page_title %}2025{% endblock page_title %}


{% block favicon %}https://tctechcrunch2011.files.wordpress.com/2015/03/wealthfront.png?w=150{% endblock favicon %}
{% block header %}{% endblock header %}
{% block firebase %}{% endblock firebase %}
{% block add_css %}
    .wealth {
        font-size: 16px;
    }
    .wealth h1{
        font-size: 26px;
        font-weight: bold;
    }  
    .wealth span {
        background: #fafafa; 
        padding: 2px 4px;
        border-radius: 2px;
        font-weight: 600;
    }
    .wealth ul {
        list-style-type: disc;
    }  
    .wealth li{
        font-size: 16px;
        padding-top: 3px;
        padding-bottom: 3px;
    } 
    .wealth ul ul {
        margin-bottom: -10px;
    }  
    .wealth blockquote{
        border-left: 6px solid #eee;
        padding-left: 10px;
        font-style: italic;
    } 
    .wealth a.image {
      border: none;
    }    

{% endblock add_css %}  

{% block content %}
<div class="twelve columns wealth">
    <h1>Part 1: Personal Finance and Investing in 2025</h1>
    <br/>
    <h2>Overview</h2>
    <ul>
        <li>Personal finance is a <span>mandatory</span> high school class in every US state.</li>
        <li>Automated set-and-forget investments are used by <span>60%</span> of North Americans.</li>
        <li>Less than <span>3%</span> of North Americans visited a bank branch in the last year.</li>
        <li><span>Every</span> North American bank uses automated investments as part of their offerings.</li>
        <li>Human-to-human personal advisors are offered to investors with <span>1M+ funds</span> only.</li>
        <li><span>0.10%</span> is the annual advisory fee of automated investing across all different companies.</li>
        <li>Fees and returns are <span>no longer</span> decision making factors on choosing investment companies.</li>
        <li>Due to reduced profit margins of financial advising companies in the last decade, 
            <ul>
                <li>over half of them are <span>online-only</span>,</li>
                <li>two thirds <span>do not employ any client facing portfolio managers</span> and personal advisors.</li>
            </ul>
        </li>
        <li>With increased consumer awareness, automated investing companies have been shifting their marketing budget towards <span>research and development</span>, particularly in AI, in last 5 years.</li>
        <li>Millennials make up <span>75%</span> of the U.S. workforce.</li>
        <li>Generation Z (post millennials) have very <span>minimal understanding</span> of investment terminologies and they’re not seeking human advisors to explain them how investing works. Instead, they’re using smart tools that fully automate investing for them.
        </li>
    </ul>

    <h2>Products and tools</h2>
    <ul>
        <li>Mobile (phone and watch) payment transactions account for <span>40%</span> share in U.S.</li> 
        <li>Apple Pay and Android Pay dominate <span>90%</span> of the mobile transactions.</li>
        <li>Thanks to government enforced <span>open API requirements</span> in the banking sector, consumers have access to hundreds to budgeting tools and finance trackers.</li>
        <li>Both iOS and Android <span>ships with</span> default expense tracking apps that track mobile payments and bank transactions.</li>
        <li>Apple partners with automated investing services (like Wealthfront) for iOS integration and <span>automated monthly transfers</span>.</li>
    </ul>

    <h2>Artificial Intelligence (AI)</h2>
    <ul>
        <li>Consumer finance products are using AI extensively.</li>
        <li>The missing <span>human-touch</span> in automated services is no longer a problem thanks to near-perfect conversational AI.
         It's no longer possible to tell between a human and a bot.</li>
        <li>Smart bots <span>out-perform</span> human advisors in every criteria: providing accurate and instant data, making personalized recommendations, building trust etc.</li>
        <li>Preferred method to interact with these tools are: voice conversations (25%), message conversations (25%), mobile touch (40%), keyboard&mouse (10%).</li>
        <li>Voice based conversations is the preferred way of communication for the Generation Z. </li>
    </ul>

    <br/>
    <hr/>
    <br/>
    <h1>Part 2: Onboarding and Risk Profiling in 2025</h1>
    <br/>

    Onboarding for Wealthfront iPhone Application (AI & data powered)

    <h2>Product vision</h2>
    <strong>What are the key product goals?</strong><br/>
    1. Generate a better risk assessment score based on user's actual data.<br/>
    2. Make the onboarding frictionless by eliminating risk assessment questionnaire.<br/>
    <br/>
    <strong>Background</strong> <br/>
    In a 2012 article titled "<a href="https://blog.wealthfront.com/what-is-risk-tolerance/" target="_blank">Why Risk Tolerance Matters</a>", Elizabeth MacBride and Andy Rachleff wrote: 
    <blockquote>But how to give people the right volatility? You can’t just ask people to rate their own tolerance of risk, because, as the research shows, most of us are notoriously bad at estimating our own risk tolerance. 
    </blockquote>
    Article further explained why both investors and their human advisors are very bad at estimating risk tolerances. Wealthfront’s Risk Tolerance Questionnaire was a great step forward over a decade ago. It was not only short (six subjective risk questions), but it also did a great job with the accuracy. <br/><br/>
    However, over the last decade, machine learning, AI and internet of things enabled us to learn a lot about human behaviour. We can now get much more accurate risk tolerance score based users' past/current behavioural data. 

    <br/><br/>
    <strong>How does this fit into Wealthfront’s larger context of the client journey and the product?</strong><br/>
    Finding the right risk tolerance of the client is fundamentally important to be able to execute our "Set it and Forget it" vision. Clients show emotional reactions to volatility if they are in the wrong risk bucket. This product's goal is to improve the risk score  accuracy and reduce reactions.
    <br/>

    <h2>Mockups</h2>
    <a class="image" href="https://i.imgsafe.org/964f0b2.jpg" target="_blank">
        <img src="https://i.imgsafe.org/964f0b2.jpg" style="width:100%;">
    </a>


   
    <h2>Success factors and KPIs</h2>
    <ul>
        <li>Reduce volatility sells by 10%.</li>
        <li>KPI 1: # of onboarding completions</li>
        <li>KPI 2: # of data sources connected</li>
        <li>KPI 3: # of bank transfers after onboarding</li>
    </ul>


    <h2>Features</h2>
    <strong>Detect iOS connected apps</strong>
    <ul>
        <li>Get a list of connected apps to the current device.</li>
        <li>Provide a list of all the services to ask permission for.</li>
    </ul>
    <strong>Connect & integrate with:</strong>
    <ul>
        <li>Client's bank for spending and asset information (thanks to open API).</li>
        <li><a href="http://www.apple.com/researchkit/" target="_blank">Apple ResearchKit and CareKit</a> for medical data.</li>
        <li><a href="http://www.apple.com/ca/ios/health/" target="_blank">Apple Health</a> for basic health and fitness data.</li>
        <li>Facebook, Instagram and other social media apps for sentimental analysis.</li>
        <li>Communication and calendar data (Siri conversations included) for emotional data and stress levels.</li>
        <li>Tesla for driving and location history.</li>
    </ul>
    <strong>Risk score calculator</strong>
    <ul>
        <li>Send collected and anonymized individual data to our internal risk calculator API and proceed onboarding with the returned risk level.</li>
    </ul>
    <strong>Monthly updates</strong>
    <ul>
        <li>Update the risk score once a month based on client's current data.</li>
    </ul>

    <h2>A/B Tests</h2>  
    <ul>
        <li>Enable smart risk profiles for 1000 new iOS signups.</li>
        <li>Track another group of 1000 signups with the old (Risk Tolerance Questionnaire) onboarding.</li>
        <li>Measure which cohort is holding more steady when the market is volatile.</li>
    </ul>

    <h2>Technical notes</h2>
    <ul>
        <li>Store 3rd party access keys for continuous access and risk score updates.</li>
    </ul>

    <h2>Todo (more research needed)</h2>
    <ul>
        <li>Integrate to Siri for voice-only onboarding.</li>
        <li>Identify the feasibility of all the integrations.</li>
        <li>Work with data research team to shortlist qualified integrations.</li>
    </ul>

    <h2>Not doing</h2>
    <ul>
        <li>Android and Web version</li>
        <li>Siri integration</li>
    </ul>

    <h2>People</h2>
    <ul>
        <li>Product Manager: <a href="https://erinc.ca">Erinc Mullaoglu</a></li>
        <li>Development Lead: John Doe</li>
        <li>Designer: Jane Doe</li>
        <li>QA: Jane Doe</li>
    </ul>    





    <br/><br/><br/>
</div>
{% endblock %}