{% extends "base.html" %}
{% block page_title %}Zapier{% endblock page_title %}

{% block header %}{% endblock header %}
{% block firebase %}{% endblock firebase %}

{% block content %}
<div class="twelve columns zapier">
    <h3>Hey Mike!</h3>
    <p>I was very excited seeing your <a href="https://news.ycombinator.com/item?id=11269181" target="_bkank">post</a> in Hacker News as I've been specifically checking your careers page in the last few months.</p>
    <p>I'd like to tell you why I would be a great <strong>Product Manager</strong> for Zapier.</p>

    <h5>About me</h5>
    <ul>
        <li>Live in Vancouver, Canada.</li>
        <li>Creating products is my biggest passion. Building & shipping products since late 90's.</li>
        <li>Over 5 years of engineering, 3 years of product management & leadership experience.</li>
        <li>Computer Science & Economics degree. ScrumMaster certificate.</li>
    </ul>


    <h5>Latest products I've worked on</h5>

    <div class="row">
      <div class="product four columns" onclick="window.open('https://wantoo.io/', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/f6106b6.jpg" >
            <h4>Wantoo</h4>
            <p>
                <span>Founding team</span> <span>SaaS</span>
            </p>            
        </div>
        <div class="product four columns" onclick="window.open('https://hootsuite.com/products/mobile-apps/suggestions', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/2c514b3.png" >
            <h4>Hootsuite Suggestions</h4>
        </div>
        <div class="product four columns" onclick="window.open('https://hootsuite.com/products/amplify', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/6e4949e.png" >
            <h4>Hootsuite Amplify</h4>
            <p>
                <span>Fortune 500 customers</span> 
            </p>            
        </div>
    </div>

    <br/>

    <h5>Some of my favorite side projects</h5>

    <div class="row">
        <div class="product four columns" onclick="window.open('https://magpie.io', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/1eb6b59.jpg" >
            <h4>Magpie</h4>
            <p>
                <span>Email automation</span> <span>SaaS</span>
            </p>
        </div>

        <div class="product four columns" onclick="window.open('https://stock.cafe', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/ce51190.jpg" >
            <h4>Stock.cafe</h4>
            <p>
                <span>Simple stock tracker</span> <span>SMS</span>
            </p>
        </div>

        <div class="product four columns" onclick="window.open('http://plansify.com', '_blank');">
            <img class="logo" src="https://i.imgsafe.org/71206cc.png" >
            <h4>Plansify</h4>
            <p>
                <span>Travel advice marketplace</span>
            </p>
        </div>

    </div>

    <br/>

    <p>I'd like to specifically talk about <strong>Magpie</strong> as it's all about automation. Just like Zapier!</p>    
    <p>A latest trend I've noticed among small businesses is that they've been ignoring email marketing and focusing all their marketing efforts on social media.</p>
    <p>Since <a href="http://www.emailisnotdead.com/" target="_blank">email is not dead</a> and it's still extremely effective, I thought neglecting email is a mistake and wanted to create a product to tackle this issue. Companies are already generating great content on Twitter, Facebook, Instagram and on their blog. So, why not remove all the friction for creating a newsletter by collecting their content and sending them to their customers in a beautiful email?</p>

    <img src="https://i.imgsafe.org/0396ac8.jpg" width="100%" style="margin: 30px 0;">
    <p>

    I quickly created the first <a href="https://dl.dropboxusercontent.com/u/169206/magpie_first_mockup.pdf" target="_blank">mockup [PDF]</a> for MVP with Balsamiq, my favorite mockup tool that I've been using for the last 7 years. After talking to 4-5 people about the product (sanity check) and doing some competitor research, I created the lean canvas (which I do for every product I work own). 


    <a href="https://i.imgsafe.org/bd1e3ea.png" class="image" target="_blank">
        <img src="https://i.imgsafe.org/bd1e3ea.png" width="100%" style="margin: 30px 0;">
    </a>

    I used Python and Django (just like you guys) to develop the app by myself in the weekends for a few months. Having a full-stack engineering background enabled me shipping the product without external help. However, I wanted more polish with the frontend and asked a friend to join me in the project. It has been extremely fun working with numerous web service integrations to automate a boring and inefficient process for businesses. <a href="https://magpie.io/demo/420/" target="_blank">Here's</a> how Zapier's fully automated newsletter would look like. 

    </p>



    <h5>Why Erinc <span style="color: #ff4a00; font-size: 25px;">♥</span> Zapier would be a great fit?</h5>
    <ol>
        <li>Integrations and automations fascinate me. Led products at one of the largest integration SaaS companies (<strong>Hootsuite</strong>). </li>
        <li>I truly believe that Zapier is just getting started and it will fundamentally impact global business productivity. Being part of this shift would be an amazing opportunity.</li>
        <li>
            Maker <img class="checkmark" src="https://cdn0.iconfinder.com/data/icons/super-mono-basic/blue/button-check_basic_blue.png">
            Great communicator <img class="checkmark" src="https://cdn0.iconfinder.com/data/icons/super-mono-basic/blue/button-check_basic_blue.png">
            Technical <img class="checkmark" src="https://cdn0.iconfinder.com/data/icons/super-mono-basic/blue/button-check_basic_blue.png">
            Learner <img class="checkmark" src="https://cdn0.iconfinder.com/data/icons/super-mono-basic/blue/button-check_basic_blue.png">
            I know web <img class="checkmark" src="https://cdn0.iconfinder.com/data/icons/super-mono-basic/blue/button-check_basic_blue.png">
            Data driven (tracking this page) <img class="checkmark" src="https://cdn0.iconfinder.com/data/icons/super-mono-basic/blue/button-check_basic_blue.png">

        </li>
        <li>Very familiar with working remotely. Worked remotely from 4 continents for many years. </li>
    </ol>

    <a href="https://www.instagram.com/p/SJyhX9GeYI/" class="image" target="_blank">
        <img src="https://i.imgsafe.org/173655a.jpg" width="100%" style="margin: 20px 0 50px 0;">
    </a>


    <br/>

    <h5>Notes</h5>
    <ul>
        <li><a href="https://gist.github.com/erinc/a497c434e21ecff4cc47" target="_blank">5 things that most/least excite me</a> (Gist).</li>
        <li>Resumes are boring, <a href="https://erinc.ca/resume/" target="_blank">but here is mine</a> (PDF).</li>
        <li>My <a href="https://twitter.com/erinch/" target="_blank">Twitter</a> and <a href="https://www.linkedin.com/in/erincm" target="_blank">LinkedIn</a> profiles and <a href="https://erinc.ca" target="_blank">personal homepage</a> (more integrations). 🤓</li>
        <li>Zap triggered by this page: <code>7820730</code>. 😉</li>
    </ul>
    <br/><br/>


</div>

{% endblock %}